//? === Order Details ===

@import 'scss/vars';

.wrapper {
	width: 100%;
	max-width: 640px;
	text-align: left;
}

.name {
	margin-bottom: 12px;
}

.status {
	color: $success;

	margin-bottom: 60px;
}

.composition {
	margin-bottom: 24px;
}

.ingredients {
	max-height: 320px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin-bottom: 40px;
	padding-right: 24px;

	@include scrollbar;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.timing {
	@include font-plain-text;
	white-space: nowrap;
	color: $text-secondary;

	justify-self: flex-end;
	grid-area: timing;
}
