//? === Order Item Card ===

@import 'scss/vars';

.wrapper {
	width: 100%;

	padding: 24px;

	display: flex;
	flex-direction: column;
	row-gap: 24px;

	// display: grid;
	// grid-template-columns: auto auto;
	// grid-template-rows: auto auto 64px;
	// grid-template-areas: 'orderId timing' 'title title' 'footer footer';

	// gap: 24px;

	border-radius: 40px;
	background-color: $bg-modal;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer {
	grid-area: footer;
}

.suptitle {
	@include font-Iceland;
	font-size: 28px;
	line-height: 0.85;
	font-weight: 400;
	color: $text-primary;

	grid-area: orderId;
}

.timing {
	@include font-plain-text;
	white-space: nowrap;
	color: $text-secondary;

	justify-self: flex-end;
	grid-area: timing;
}

.title {
	@include font-display-small;

	grid-area: title;
}
