//? === Burger Ingredients ===

@import '../../scss/vars';

.wrapper {
	display: flex;
	flex-direction: column;

	max-height: 100%;

	overflow-y: auto;
}

.tabs {
	display: flex;

	margin-bottom: 40px;
}

.subtitle {
	margin-bottom: 24px;
}

.ingredients {
	display: flex;
	flex-direction: column;
	row-gap: 40px;

	@include scrollbar;
}
