//? === App ===

.main {
	display: grid;
	grid-template-areas:
		'title title'
		'block block';
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 20px 40px;

	flex: 1;

	padding-top: 40px;
	padding-bottom: 52px;

	overflow-y: auto;
}

.title {
	grid-area: title;
}
