//? === Feed Page ===

@import 'scss/vars';

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'header header'
		'feed info';
	gap: 20px 60px;
}

.title {
	padding: 0 8px;

	grid-area: header;
}

.block {
}
