{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "airbnb-typescript",
    "plugin:import/typescript",
    "prettier",
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "overrides": [],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "indent": 2,
        "singleQuote": true,
        "parser": "flow",
        "jsxSingleQuote": false,
        "prettier.semi": false
      }
    ],
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "no-console": "warn",
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "indent": ["warn", 2],
    "max-len": ["warn", { "code": 120 }],
    "comma-dangle": ["warn", "always-multiline"],
    "semi": ["warn", "never"],
    "@typescript-eslint/member-delimiter-style": [
      "warn",
      {
        "multiline": {
          "delimiter": "comma",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        },
        "multilineDetection": "brackets"
      }
    ],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}
