//? === Burger Constructor ===

@import 'scss/vars';

.wrapper {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	row-gap: 40px;

	grid-area: cart;
}
