//? === Index ===

// Imports
@import 'scss/normalize';
@import 'scss/_fonts';
@import 'scss/vars';

h2 {
	@include font-display-large;
}

h3 {
	@include font-display-small;
}

body {
	@include font-plain-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	width: 100vw;
	height: 100vh;
  
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1272px;
	margin: 0 auto;
	padding: 0 16px;
}
