//? === Account Page ===

@import 'scss/vars';

.wrapper {
	display: grid;
	grid-template-columns: 320px 1fr;
	column-gap: 60px;
}

.aside {
	padding-top: 80px;

	&__buttons {
		& > * {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			height: 64px;
		}

		margin-bottom: 80px;
	}

	&__info {
		color: $text-secondary;
	}
}

.logout {
}
