//? === Account Page ===

@import 'scss/vars';

.wrapper {
	display: grid;
	grid-template-columns: 320px 1fr;
	column-gap: 60px;
}

.aside {
	padding-top: 80px;

	&__buttons {
		margin-bottom: 80px;
	}

	&__info {
		color: $text-secondary;
	}
}

.link {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	height: 64px;

	h3 {
		color: $text-secondary;
	}

	&--active {
		h3 {
			color: $text-primary;
		}
	}

	&:hover {
		h3 {
			color: $text-primary;
		}
	}
}
