//? === Ingredients List ===

@import 'scss/vars';

.list {
	display: flex;
	flex-direction: row;
	flex: 1;

	height: 64px;

	position: relative;
}

.item {
	width: 64px;
	height: 64px;

	flex-shrink: 0;
}
